# 1. 파이썬이란?

- 귀도 반 로섬(Gudi Van Rossum) 개발
- 단순하고 간단하다.
- 방대한 라이브러리
- 무료에 어느 운영체제든 사용가능

In [2]:
print(sys.executable)

C:\Users\rnru1\anaconda3\envs\abangues\python.exe

# 2. 파이썬 시작하기

### 2.1 사용자 입력, 출력

In [2]:
print(sys.executable)

C:\Users\rnru1\anaconda3\envs\abangues\python.exe

In [3]:
x = input("입력해주세요 : ")
print(x)

입력해주세요 : 가다
가다

### 2.2 주석

In [4]:
# 한줄 주석

"""
여러줄 주석
여러줄 주석
"""

'\n여러줄 주석\n여러줄 주석\n'

# 3. 산술연산

### 3.1 사칙연산

In [5]:
# 덧셈
1+2

3

In [6]:
# 뺄셈
1-2

-1

In [7]:
# 곱셈
5*2

10

In [8]:
# 나눗셈
5/2

2.5

In [9]:
# 나눗셈 몫
5//2

2

In [10]:
# 나눗셈 나머지
9%2

1

In [11]:
# 제곱
2**3

8

In [14]:
# 우선순위 (괄호)
(2+3)*2

10

### 3.2 숫자의 자료형

In [15]:
type(10)

int

In [16]:
type(10.5)

float

In [17]:
type(True)

bool

In [18]:
type("안녕")

str

In [20]:
type([1, 2, 3])

list

In [21]:
type({"name" : "Tom", "age" : 29})

dict

In [22]:
type((1, 2, 3))

tuple

In [23]:
type({1, 2, 3})

set

### 3.3 숫자형 변환

In [24]:
float(3)

3.0

In [25]:
int(3.5)

3

In [26]:
int(5/2)

2

# 4. 변수
- 하나의 데이터를 저장할 수 있는 메모리 공간, 변할 수 있는 수

### 4.1 변수로 계산하기

In [28]:
x = 10
x, y, z = 10, 20, 30
print(x)
print(y, z)

10
20 30

In [29]:
x, y = 20, 30
c = x + y
print(c)

50

In [30]:
x = 10
x + 10
print(x)

10

In [32]:
x = 10
x = x + 10
print(x)

20

In [33]:
x = 10
x += 10
print(x)

20

### 4.2 비어있는 변수 (Null)

- `None` : 아무값도 없는

In [35]:
x = None
print(x)
print(type(x))

None
<class 'NoneType'>

### 실습 01

**사용자로부터 변수 x, 변수 y를 입력받아 더하고 곱하는 프로그램을 작성하세요.**

In [38]:
x = int(input("x값을 입력해주세요."))
y = int(input("y값을 입력해주세요."))

print(x+y)
print(x*y)

x값을 입력해주세요.20
y값을 입력해주세요.30
50
600

# 5. Boolean과 비교, 논리 연산자

### 5.1 Boolean형

In [44]:
print(True)
print(False)
type(True)

True
False

bool

### 5.2 비교연산자
- 연산 결과는 Boolean

In [45]:
print(3>1)
print(10 != 10)
type(10==10)

True
False

bool

### 5.3 논리연산자
- and : 모두가 True 면 True 하나라도 False 면 False

In [48]:
print(True and True)
print(True and False)
print(False and False)

True
False
False

- or : 하나만 True 여도 True 모두가 False 면 False

In [49]:
print(True or True)
print(True or False)
print(False or False)

True
True
False

- not : 반대

In [50]:
print(not True)
print(not False)

False
True

### 5.4 비교+논리 연산자

In [52]:
print((5 > 10) and (20 == 20))
print((5 == 5) or (10 != 10))

False
True

### 실습 01
**사용자로 점수를 3개 입력받아 모든 점수가 65점보다 클 경우 True 점수가 하나라도 65점이 안넘을 경우 False를 출력하세요.**

In [55]:
x = int(input("첫번째 점수 : "))
y = int(input("두번째 점수 : "))
z = int(input("세번째 점수 : "))

print((x >= 65) and (y >= 65) and (z >= 65))

첫번째 점수 : 70
두번째 점수 : 80
세번째 점수 : 90
True

# 6. 문자형

### 6.1 문자형

In [62]:
first = "Hello, World"
multi = """Hello, World
Hello, Python"""
print(first)
print(multi)

Hello, World
Hello, World
Hello, Python

### 6.2 문자열 연산

In [64]:
print("과일" + "사과")
print("과일" * 3)

과일사과
과일과일과일

### 6.3 문자열 함수소개

###### 6.3.1 len(값) : 문자 길이

In [65]:
word = "apple banana"
print(len(word))

12

###### 6.3.2 replace(바꿀문자, 새문자) : 문자열 바꾸기

In [67]:
word.replace("apple", "orange")

'orange banana'

###### 6.3.3 upper() : 대문자로 바꾸기

In [68]:
word.upper()

'APPLE BANANA'

###### 6.3.4 lower() : 소문자 바꾸기

In [69]:
word.lower()

'apple banana'

### 6.4 서식시정자

###### 6.4.1 "문자열  `%s` 문자열" `% "추가문자열`"

In [74]:
name = "tom"
print("I am " + name + " !") # + 사용
print("I am %s !" % name) # 서식지정자 사용

I am tom !
I am tom !

###### 6.4.2 %(공백)s - 공백추가

In [76]:
print("I am %10s!" % name)
print("I am %-10s!" % name)

I am        tom!
I am tom       !

###### 6.4.3 여러개의 추가문자

In [77]:
f1, f2 = "apple", "banana"
print("I like %s, %s!!" % (f1, f2))

I like apple, banana!!

###### 6.4.4 %s -문자, %d -정수, %f -실수

In [78]:
n1, n2 = 3, 3.2323
print("n1 = %d, n2 = %f" % (n1, n2))

n1 = 3, n2 = 3.232300

###### 6.4.5 %.(숫자)f -소수점 이하 자리수

In [79]:
print("n2 = %.2f" % n2)

n2 = 3.23

###### 6.4.6 %(공백에 채울 숫자)(공백)s -숫자개수 맞추기

In [84]:
print("n2 = %07.2f" % n2)

n2 = 0003.23

### 6.5 Format 함수
###### 6.5.1 "문자열 {0}, {1} 문자열" .format(값, 값)

In [87]:
print("I like {0}, {1} !!".format("apple","banana"))
print("Number {0} {2} {1}".format(1, 2, 3))
print("Number {0} {0} {1}".format(1, 2, 3))
print("Number {} {} {}".format(1, 2, 3))

I like apple, banana !!
Number 1 3 2
Number 1 1 2
Number 1 2 3

###### 6.5.2 변수사용

In [88]:
f1, f2 = "apple", "banana"
print("I like {0}, {1} !!".format(f1,f2))

I like apple, banana !!

###### 6.5.3 {0:(숫자)<(숫자)} -공백추가

In [91]:
print("Number {0:>4}!".format(1))
print("Number {0:<4}!".format(1))
print("Number {0:0>4}!".format(1))
print("Number {0:0^5}!".format(1))

Number    1!
Number 1   !
Number 0001!
Number 00100!

### 실습 01

**(1) 문자를 입력받아 공백을 모두 제거하고 출력하세요.**

In [93]:
x = input("아무 문자나 입력해주세요 : ")
print(x.replace(" ",""))

아무 문자나 입력해주세요 : 안녕하세요 반갑습니다.
안녕하세요반갑습니다.

**(2) 이름과 점수 3개를 입력받아 아래와 같이 출력하세요**

In [1]:
name = input("이름을 입력해 주세요 : ")
score1 = int(input("첫번째 점수를 입력해 주세요 : "))
score2 = int(input("두번째 점수를 입력해 주세요 : "))
score3 = int(input("세번째 점수를 입력해 주세요 : "))

print("저의 이름은 {} 이고 총점은 {} 입니다.".format(name, score1+score2+score3))

이름을 입력해 주세요 : 홍길도
첫번째 점수를 입력해 주세요 : 80
두번째 점수를 입력해 주세요 : 70
세번째 점수를 입력해 주세요 : 60
저의 이름은 홍길도 이고 총점은 210 입니다.